/* Estilos globais para a pagina */
html, body{
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilos para todo o body */
body{
    background-color: black;
    font-family: 'firecode', monospace;
    color: #39FF14;
    font-size: 12px;
    overflow: none;
}

/* Estilos para o header */
header{
    
    text-align: center;
    padding: 20px;
    text-shadow: #39FF14 0px 8px 10px;
}

/* Esconder o jogo antes de iniciar */
main{
    display: none;
    user-select: none;
}

/* Estilos do botao para iniciar o game */
.button_glitch{
    background-color: transparent;
    border: 2px solid #39FF14;
    color: #39FF14;
    padding: 10px 20px;
    font-family: 'firecode', monospace;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

/* Efeito do mouse sobre o botao */
.button_glitch:hover{
    background-color: #39FF14;
    color: black;
    animation: tremer-simples 0.05s infinite; /*ativa a animacao de tremor*/
}

/* usando keyframes para criar o efeito de tremor do botao */
@keyframes tremer-simples {
    /* de 0% a 100% o box-shadow alterna entre ciano e vermelho, criando um efeito de tremor com o botao*/
    0%, 100% {
        box-shadow: 8px 6px 15px #00ffff, -8px -6px 10px #ff0000; /* cria um clone fantasma ciano e vermelho atras*/
        transform: translate(2px, -1px); /* move o botao levemente para criar o efeito de tremor */
        text-align: right;
    }
    50% {
        /* Inverte: vermelho direita, ciano esquerda */
        box-shadow: -8px -6px 15px #00ffff, 8px 6px 10px #ff0000;
        transform: translate(-1px, 2px); /* move o botao levemente para criar o efeito de tremor */
        text-align: left;
    }
}

/* Estilo do User Interface */
.UI{
    padding: 20px;
    font-size: 16px;
    justify-self: right;
}

/*Estilo do alvo */
#target{
    position: absolute;
    padding: 15px;
    border: 2px solid #39FF14;
    cursor: pointer;
    user-select: none;
    background: #003200d8;
    /*posicionamento inicial*/
    top: 55%;
    left: 50%;

    animation: tremer-simples 0.08s infinite;
    transition: all .2s ease;
}

/* Efeito do mouse sobre o alvo */
#target:hover{
    transition: .2s;
    background: #ff33338e;
}

/* Estilo do Terminal lateral */
#terminal_log{
    position: fixed;
    top: 3rem;
    left: 1rem;
    width: 25rem;
    height: 40rem;
    background-color: #000f00d9;
    border-left: 1px solid #39FF14;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 15px #39ff141a;
    pointer-events: none; /* nao atrapalhar os cliques no alvo */
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Estilo do texto dentro do terminal */
#terminal_log p{
    margin: 5px 0;
    line-height: 1.4;
    text-shadow: none;
}